<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
      <p>Content</p>
    </div>
    <br>

    <div class="box-border">
      <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline-Block Element</div>
    <br><br>

    <h2>Positioning Element Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>

    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>

    <h2>Float and Clearing Floats Example</h2>
    <div>
      <div class="float-right">Float-right Position</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, cumque sapiente alias explicabo beatae pariatur unde voluptate ipsam! Repudiandae necessitatibus laboriosam expedita voluptate quos. Eveniet nemo aliquid sint consequatur 
    </div>
                 
    <div>
      <div class="float-left">Float-left Position</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, cumque sapiente alias explicabo beatae pariatur unde voluptate ipsam! Repudiandae necessitatibus laboriosam expedita voluptate quos. Eveniet nemo aliquid sint consequatur 
    </div>

    <div>
      <div class="clear-float">Float-right Position</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, cumque sapiente alias explicabo beatae pariatur unde voluptate ipsam! Repudiandae necessitatibus laboriosam expedita voluptate quos. Eveniet nemo aliquid sint consequatur 
    </div>

    <h2>Centering Element Examples</h2>

    <div class="parent-box">
      <div class="center-horizontal">
        <p>This box is horizontally centered.</p>
      </div>
    </div>

    <div class="parent-box center-vertical">
      <div>
        <p>This text is vertically centered</p>
      </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
      <div>
        <p>This text is vertically and horizontally centered</p>
      </div>
    </div>


    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
</body>
</html>